* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 16px;
}
body {
    overflow-x: hidden;
}

button.btn {
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding: .5em 1.5em;
    font-size: .8em;
}

h2 {
    text-transform: capitalize;
}

.navbar {
    background-color: #FFB456;
}

.navbar .nav-item {
    margin-right: 3em;
}

.navbar a {
    color: #ffffff;
}

.navbar a:hover {
    color: #666666;
}

.header-content {
    height: 100%;
    line-height: 150%;
}

.header-content img {
    width: 100%;
}

.header-content .header-introduction-block {
    padding: 7em 1em 3em;
}

.header-content .header-introduction-block p {
    color: #ccced0;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 0;
}

.header-content .header-introduction-block span {
    color: #212326;
    font-size: .8em;
}

.header-content .header-introduction-block h2 {
    color: #313131;
    width: 70%;
    margin-top: 2em;
}

.header-content .header-introduction-block button, .about-me-block button {
    background-color: #FFB456;
    margin-top: 1em;
    font-size: .6em;
    padding: 1em 2.5em;
}

.header-content .header-options-block .col {
    padding: 3em;
}

.header-content .header-options-block .col h5 {
    font-size: .9em;
    margin-bottom: 1em;
    color: #212326;
}

.header-content .header-options-block .col p {
    font-size: .8em;
}

.header-content .header-options-block .col button {
    border-radius: 20px;
    background-color: #D9E2E8;
    color: #212326;
    border: transparent;
    box-shadow: none;
}

.header-content .header-options-block .col:first-child {
    background-color: #BECEDB;
    height: 23vh;
}

.header-content .header-options-block .col:last-child {
    background-color: #CDD8E6;
    height: 23vh;
}

/*WHY ME*/

.why-me {
    z-index: 1;
    padding: 10em;
    position: relative;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(51, 81, 103, 1), rgba(132, 147, 155, 0.8)), url("../images/why-me-bg-min.jpg");
    background-size: cover;
    background-position: top;
}

.why-me div .top-title, .why-me div h2, .why-me div p, .why-me div ul li {
    color: #ffffff;
    line-height: 170%;
}

.why-me div:first-child {
    text-align: right;
}

.why-me div:first-child .top-title {
    font-size: .9em;
}

.why-me div:first-child button {
    margin-top: 1em;
    background-color: #ffffff;
    border-color: transparent;
    color: #FFB456;
}

.why-me div ul {
    padding-top: 6em;
    text-align: left;
}

.why-me div ul li {
    list-style: square;
}

/*COACHING OPTIONS*/
.coaching-options {
    padding: 15em 4em;
    background-color: #FFC879;
    text-align: center;
    background-size: cover;
    background-position: top;
}

.coaching-options p, .option-title {
    color: #ffffff;
    margin-top: 1em;
}

.coaching-options p {
    font-size: .8em;
}

.coaching-options i {
    font-size: 1.5em;
}

.coaching-options i, .coaching-options button {
    color: #64615b;
}

.coaching-options button {
    margin-top: 2em;
}

/*COACHING PROGRAM*/


.coaching-program {
    padding: 10em;
}

.coaching-program h2, .coaching-program p {
    line-height: 170%;
}

.coaching-program .col:first-child {
    text-align: right;
}

.coaching-program ul {
    list-style: none;
}

.coaching-program ul li {
    padding: .6em;
    background-image: linear-gradient(to right bottom, rgba(51, 81, 103, .4), rgba(132, 147, 155, 0.1));
}

.about-me {
    background-image: url("../images/smiling-girl-2.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding: 8em 10em;
    position: relative;
    height: 65vh;
    overflow-y: visible;
}

.testimonials {
    padding: 20em 6em 10em;
    background-color: #F6F6F6;
    text-align: center;
    position: relative;
}

.testimonials div {
    display: inline-block;
    width: 20%;
    margin-right: 5%;
    background-color: #ffffff;
    padding: 1em;
}

.testimonials div.last-testimonial {
    margin-right: 0;
}

.testimonials div.about-me-block {
    background: #ffffff;
    padding: 2em;
    width: 30%;
    color: #212326;
    z-index: 9999;
    position: absolute;
    top: -5em;
    left: 20%;
    text-align: left;
}

h3 {
    font-size: 1.2em;
    text-transform: capitalize;
}

.testimonials h2 {
    margin-bottom: 1em;
}

.testimonials div.join-me {
    background: #FFB456;
    padding: 2em 2em 0;
    width: 30%;
    color: #ffffff;
    z-index: 9999;
    position: absolute;
    top: -3em;
    right: 20%;
    margin-right: 0;
}

.join-me h3 {
    color: #ffffff;
    margin-bottom: 1em;
}

input {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 1em 0;
    padding: .2em 1em;
    border: none;
    box-shadow: none;
}

button.btn-subscribe {
    width: 100%;
    background-color: #335167;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

div.social-icons {
    width: 100%;
    background-color: transparent;
    margin-top: 2em;
}

.social-icons a {
    padding-right: 1em;
}

.social-icons i {
    font-size: 1.5em;
    color: #ffffff;
}

.social-icons i:hover {
    color: #335167;
}

.appointment {
    background-image: linear-gradient(to right bottom, rgba(255, 190, 110, 1), rgba(234, 199, 147, 0.8));
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding: 10em;
    text-align: right;
    position: relative;
    height: 100%;
}

.appointment button {
    color: #313131;
    margin-top: 1em;
}

.appointment p {
    color: #ffffff;
    font-size: .9em;
    text-align: justify;
    padding-left: 2em;
}

.appointment .row .col-6:first-child {
    padding-right: 2em;
}

footer {
    background-image: linear-gradient(to right bottom, rgba(51, 81, 103, 1), rgba(132, 147, 155, 0.8)), url("../images/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding: 8em;
    text-align: center;
    position: relative;
    height: 100%;
}

footer h2, .appointment h2 {
    color: #ffffff;
    line-height: 150%;
}

footer h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
}

footer input {
    border-radius: 3px;
    margin-top: 0;
}

textarea {
    width: 100%;
    padding: 1em;
}

.text-right {
    text-align: right;
    font-size: .8em;
    margin-top: .8em;
}

.text-right button {
    background-color: #FFB456;
}
.copyright {
    color: #ffffff;
}
@media (min-width: 1200px) {
    .why-me {
        height: 95vh;
    }
}

@media (max-width: 992px) {
    * {
        font-size: 14px;
    }
    .header-content .header-introduction-block {
        padding: 6em 1em 3em;
    }
    .testimonials div {
        width: 29%;
    }
    .about-me {
        height: 33vh;
    }
}

@media (max-width: 768px) {
    .header-content .header-introduction-block {
        padding: 2em 1em 1em;
    }
    .header-content .header-introduction-block h2 {
        width: 100%;
        font-size: 1.5em;
    }
    .header-content .header-options-block .col:first-child, .header-content .header-options-block .col:last-child {
        height: 15vh;
    }
    .header-content .header-options-block .col {
        padding: 1em;
    }
    .coaching-options, .coaching-program {
        padding: 4em;
    }
    .testimonials div.join-me {
        width: 41%;
        right: 10%;
    }
    .testimonials div.about-me-block {
        width: 41%;
        left: 10%;
    }
    .testimonials h2 {
        margin-top: 3em;
    }
    .appointment {
        padding: 5em;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .header-content {
        text-align: center;
    }

    .header-content img {
        height: 50vh;
        width: auto;
    }
    .why-me {
        padding: 3em;
    }
    .why-me div:first-child, .why-me div:last-child {
        text-align: center;
    }
    .testimonials div.join-me {
        width: 51%;
        right: 0;
    }
    .testimonials div.about-me-block {
        width: 51%;
        left: 0;
    }
    .testimonials div {
        width: 100%;
        margin-bottom: 5%;
        display: block;
    }
    .testimonials h2 {
        margin-top: 6em;
    }
    footer {
        padding: 3em;
    }
}
